
  .App {
      display: flex;
      font-family: Roboto, sans-serif;
    }
    
    .sidebar {
      margin-top: 20px;
      min-width: 300px;
      height: 900px;
      padding: 15px;
      overflow-y: auto;
      background-color: #f0f0f0; /* Add a background color for the sidebar */
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border: 0.5px solid #e9e6e6;
      border-radius: 5px;
      position: fixed;
      right: 0;
      
    }
    
    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      ;
    }
    
    button {
      margin-bottom: 5px;
      padding: 5px;
      padding-left: 7px;
      padding-right: 7px;
      background-color:#676767;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      height: 30px;
      width: 100%;
    }
    
    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    .small-button {
      margin-right: 10px; 
      padding: 5px 10px;
      float: left;
      display: block;
      text-decoration: none ;
      height: 40px;
      width: 50%;    
    }

    
    .content {
    
      max-width: 1000px;
      width: 200px;
      margin: 0 auto;
      padding: 20px;
      border: 0.5px solid #ece9e9;
      border-radius: 5px;
      background-color:#f0f0f0;
      box-shadow: 7px 7px 2px rgba(134, 134, 134, 0.3);
      max-height: 500px;
      
    }

    .button-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr); 
      gap: 3px; 
      justify-items: center;
      padding: 2px; 
      max-height: calc(100vh - 100px);
      overflow-y: auto;
    
    }

    ul {
      list-style-type: none;
    }

    ul.ul input[type="radio"]{
      margin-right: 10px;
    }
    .dropDown {
    background-color: #f0f0f0;

    }
    .loginButton {
      background-color: #676767;
      height: 40px;
      width: 50%;
    }

    .card-button{
      height:  40px;
      width: 25%;
      margin-right: 20px;

    }
    .attempted-button {
      background-color: green;
      color: white;
    }
    
    .not-attempted-button {
      background-color: #676767;
      color: white;
    }
    
    .current-question-button {
      background-color: blue;
      color: white;
    }
      
  .visited-but-unattempted-button {
    background-color: red;
    color: white;
  }
  